<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>Clean_City_WEB</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>AdminLogin</display-name>
    <servlet-name>AdminLogin</servlet-name>
    <servlet-class>Clean_City_Java.AdminLogin</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminLogin</servlet-name>
    <url-pattern>/AdminLogin</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>addOfficers</display-name>
    <servlet-name>addOfficers</servlet-name>
    <servlet-class>Clean_City_Java.addOfficers</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>addOfficers</servlet-name>
    <url-pattern>/addOfficers</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>citizenRegister</display-name>
    <servlet-name>citizenRegister</servlet-name>
    <servlet-class>Clean_City_Java.citizenRegister</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>citizenRegister</servlet-name>
    <url-pattern>/citizenRegister</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>citizenLogin</display-name>
    <servlet-name>citizenLogin</servlet-name>
    <servlet-class>Clean_City_Java.citizenLogin</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>citizenLogin</servlet-name>
    <url-pattern>/citizenLogin</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>submitReport</display-name>
    <servlet-name>submitReport</servlet-name>
    <servlet-class>Clean_City_Java.submitReport</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>submitReport</servlet-name>
    <url-pattern>/submitReport</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>viewCitizen</display-name>
    <servlet-name>viewCitizen</servlet-name>
    <servlet-class>Clean_City_Java.viewCitizen</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>viewCitizen</servlet-name>
    <url-pattern>/viewCitizen</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>loginMunicipality</display-name>
    <servlet-name>loginMunicipality</servlet-name>
    <servlet-class>Clean_City_Java.loginMunicipality</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>loginMunicipality</servlet-name>
    <url-pattern>/loginMunicipality</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UpdateStatusServlet</display-name>
    <servlet-name>UpdateStatusServlet</servlet-name>
    <servlet-class>Clean_City_Java.UpdateStatusServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateStatusServlet</servlet-name>
    <url-pattern>/UpdateStatusServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Changeemail</display-name>
    <servlet-name>Changeemail</servlet-name>
    <servlet-class>Clean_City_Java.Changeemail</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Changeemail</servlet-name>
    <url-pattern>/Changeemail</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>changeMunciplePass</display-name>
    <servlet-name>changeMunciplePass</servlet-name>
    <servlet-class>Clean_City_Java.changeMunciplePass</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>changeMunciplePass</servlet-name>
    <url-pattern>/changeMunciplePass</url-pattern>
  </servlet-mapping>
</web-app>